# Ignorar arquivos compilados e diretórios do Java
*.class
*.jar
*.war
*.ear
./main

# Ignorar diretórios do Java
/bin/
/build/
/target/
/out/

# Ignorar arquivos do Maven e Gradle
local.properties
.mvn/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Ignorar arquivos de configuração do IDE
*.iml
*.ipr
*.iwsgit 
/.idea/
/.vscode/
/.specstory/
*.code-workspace

# Ignorar arquivos do Go
/bin/
/pkg/

# Arquivos compilados do Go
*.exe
*.dll
*.so
*.dylib
*.a
*.o


# Ignorar cache do Go
/.cache/
__debug*
./config/.env
config/.env

scripts/__pycache__/
*.log

.cursorindexingignore
.cursor/

local-test-apk/
build/
